<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.hxx.fakewaterfall">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerView.memoleak.LeakActivity"/>
        <activity android:name=".CustomerView.CustomerViewActivity"/>
        <activity android:name=".designpattern.MyDesignPatternActivity"/>
        <activity android:name=".FourComponents.FourComponentsActivity"/>
        <activity android:name=".FourComponents.MyService.MyServiceActivity"/>
        <activity android:name=".Module.ModuleActivity"/>
        <activity android:name=".CustomerView.tablayout.MyTabLayoutActivity"/>
        <activity android:name=".Module.Scheme.MySchemeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--跳转所需Scheme   myscheme://www.hxxchina.com:8080/mypath?key=mykey-->
                <data android:scheme="myschememe" android:host="www.hxxchina.com"/>
            </intent-filter>
        </activity>
        <activity android:name=".Module.Scheme.MyToSchemeActivity" />





        <service android:name=".FourComponents.MyService.StartService.MyStartService"
            android:exported="false"/>
        <service android:name=".FourComponents.MyService.BindService.MyBindService"/>




        <receiver android:name=".FourComponents.MyBroadCastReciver.MyBroadCastReciver">
            <!--一个intent-filter可以设置多个action-->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="BROADCAST_ACTION"/>
            </intent-filter>
        </receiver>




        <provider
            android:authorities="com.hxx.fakewater.bookprovider"
            android:name=".FourComponents.MyContentProvider.MyBookProvider"/>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

</manifest>